h1{
    color: red;

}

/* p{
    color: red;
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
} */

.head{
    color: blue;
}